*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    font-family: -apple-system, sans-serif;
    /* font-family: Syne, sans-serif; */
}
:root {
    --bg-color: #fff;
    --snd-bg-color: #d5fdf9;
    --text-color: #000;
    --main-color: #007f73;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 4rem 9% 2rem;
}


/* header section code */
.header{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    padding: 1.2% 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main-color);
    transition: all 0.5s ease;
    backdrop-filter: blur(10px);
}
.logo{
    font-size: 3ch;
    transition: transform 0.6s ease-in-out;
    font-weight: 800;
    cursor: pointer;
    color: var(--bg-color);
}
.navbar{
    width: fit-content;
}
.logo:hover{
    transform: scale(1.1);
}
.navbar a{
    margin-left: 4rem;
    font-size: 2ch;
    font-weight: 700;
    transition: 0.2s ease;
    color: var(--bg-color);
}
.navbar a:hover{
    color: rgba(40, 40, 40, 0.858);
}
#menu-icon{
    font-size: 4ch;
    font-weight: 700;
    cursor: pointer;
    color: var(--bg-color);
    display: none;
    margin-right: 20px;
}

/* home-section style */
.home-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2 5rem;
}
.home-img img{
    border-radius: 50%;
    animation: floatImage 4s ease-in-out infinite;
    box-shadow: 0px 0px 25px var(--main-color); 
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.home-img img:hover{
    box-shadow: 0px 0px 25px var(--main-color),
                0px 0px 35px var(--main-color),
                0px 0px 35px var(--main-color);
}

@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-1.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-content{
    margin-left: 5rem;
    
}
.home-content h3{
    font-size: 2.3rem;
    font-weight: 500;
    animation: fadeIn linear;
    animation-timeline: view();
    animation-range: entry 0%;
}
.home-content h1{
    font-size: 3.4rem;
    font-weight: 700;
}
span{
    color: var(--main-color);
    font-weight: 900;
}
.home-content p{
    margin-top: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

.social-icons{
    display: inline-flex;
    justify-content: space-between;
    gap: 1.5rem;
    font-size: 4ch;
    font-weight: 900;
}
.social-icons i{
    border: 2px solid var(--main-color);
    border-radius: 50%;
    padding: 0.5rem;
    color: var(--main-color);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 0px 25px var(--main-color); 
    animation: move-up 4s ease-in-out infinite;
}

.social-icons i:hover{
    transform: translateY(-1rem);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0px 0px 25px var(--main-color),
                0px 0px 35px var(--main-color),
                0px 0px 35px var(--main-color);
}

.resume-btn{
    margin-top:4rem;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    padding: 0.8rem;
    width: fit-content;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--main-color);
    color: var(--bg-color);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 0px 25px var(--main-color),
                0px 0px 35px var(--main-color),
                0px 0px 35px var(--main-color);
}
.resume-btn:hover{
    color: var(--main-color);
    background-color: var(--bg-color);
    transform: scale(1.2);
    box-shadow: 0px 0px 25px var(--main-color);
    
}

/* about section styling */
.about-section{
    background-color: #007e712a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2 6rem;
}
.about-content{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.about-content h1{
    font-size: 3rem;
}
.about-content h3{
    font-size: 2rem;
}
.about-content p{
    margin-top: 2rem;
}
.read-more{
    margin-top: 3rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 30px;
    padding: 0.9rem 2rem;
    color: var(--bg-color);
    width: fit-content;
    background-color: var(--main-color);
    box-shadow: 0px 10px 25px var(--main-color);
}
.about-img img{
    margin-left: 1.2rem;
    border-radius: 50%;
    box-shadow: 0px 20px 35px var(--main-color);
    transition: transform 0.4s;
    animation: appear2 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.about-img img:hover{
    transform: scale(1.2);
}

/* service section */
.service-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:1 5rem;
}
.service-section h1{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    font-size: 3rem;
}
.service-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.container{
    animation: fadeIn linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    background-color: #007f7234;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem 2rem;
    border-radius: 10%;
    box-shadow: 0px 10px 25px var(--main-color);
}
.container i{
    font-size: 7ch;
    color: #007f72;
    margin-bottom: 1rem;
}
.container h2{
    font-size: 1.6rem;
}
.container p{
    margin-top: 1rem;
}
.container a{
    align-items: center;
}

/* project sections */
.projects-section h1{
    font-size: 3rem;
    text-align: center;
}
.carousel-container{
    animation: fadeIn linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
    background-color: #c3fff9;
    margin-top: 2rem;
}
.card{
    flex: 0 0 auto;
    width: 400px;
    height: 450px;
    background: #007f72;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-color);
    border-radius: 20px;
    margin: 0 10px;
}
.carousel-track{
    display: flex;
    animation: scroll 3s linear infinite;
}
.carousel-container:hover .carousel-track{
    animation-play-state: paused;
}

/* contact section styling */
.contact-section h1{
    text-align: center;
    font-size: 3rem;
}
.contact-section h3{
    text-align: center;
    margin-top: 1rem;
}
.contact-content{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
}
.content1{
    margin-right: 20px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.content1 img{
    border-radius: 20px;
}
.content1 h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.9rem;
}
.content1 .social-icons{
    margin-top: 2.5rem;
    text-align: center;
    font-size: 3rem;
}
.form-container{
    animation: appea linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    background-color:#00766a98;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 15px 25px var(--main-color);
    width: 100%;
    max-width: 450px;
}
.form-container h3{
    color: var(--bg-color);
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.form-group{
    margin-bottom: 0.6rem;
    
}
label{
    font-size: 1.1rem;
    font-weight: 900;
    color: var(--bg-color);
    font-weight: 600;
    margin-bottom: 5px;
}
input,textarea{
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--main-color);
    font-size: 1rem;
    font-weight:500;
    font-family: apple-system, sans-serif;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.573);
}
textarea{
    resize: none;
    height: 100px;
}
button{
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    width: 100%;
    border-radius: 20px;
    font-size: 1.2rem;
    padding: 0.7rem;
    background-color: #007f72;
    color: var(--bg-color);
    border: none;
    box-shadow: 0px 7px 15px var(--text-color);
    cursor: pointer;
}

/* footer section styling */
.footer-section{
    background-color: #00332e;
    color: white;
    text-align: center;
    padding: 1%;
    font-size: 0.9rem;
}
@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}

@keyframes appear{
    from{
        opacity: 0;
        transform: translateX(-200px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes appear2{
    from{
        opacity: 0;
        transform: translateX(200px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
        scale: 0.7;
    }
    to{
        opacity: 1;
        scale: 1.01;
    }
}

/* responsive coding */
@media (max-width:1200px) {
    html{
        font-size: 65%;
    }
}
@media (max-width:981px){
    section{
        padding: 4rem 2% 2rem;
    }
    .home-img img{
        scale: 0.8;
    }
    .home-content h1{
        font-size: 2.8rem;
    }
    .home-content h3{
        font-size: 2rem;
    }
    .about-img img{
        scale: 0.7;
    }
    .contact-section{
        padding: 4rem 1%;
    }
}
@media (max-width:891px){
    .contact-img img{
        scale: 0.8;
    }
    .footer-section{
        width: 100%;
    }
}
@media (max-width:850px){
    .contact-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content1 h2{
        text-align: center;
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
    }
    .social-icons a{
        text-align: center;
        margin-top: 0rem;
        margin-bottom: 1rem;
    }

}
@media (max-width:770px){
    .home-img img{
        scale: 0.8;
    }
    .home-content{
        margin-left: 1rem;
    }
}
@media (max-width: 725px) {
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 255px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: var(--main-color);
        transition: all 0.5s ease;
        backdrop-filter: blur(10px);
    }
    .navbar a{
        display: block;
        padding: 17px;
        font-size: 22px;
    }
    .navbar.active{
        right: 0;
    }
    .home-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0rem;
    }
    .home-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
    }
    .home-content h3{
        font-size: 2.5rem;
        font-weight: 500;
    }
    .home-content h1{
        font-size: 3rem;
    }
    .home-content p{
        font-size: 1.8rem;
    }
    .home-img img{
        scale: 1.2;
        margin-top: 8rem;
    }
    .social-icons{
        font-size: 3rem;
    }
    .resume-btn{
        margin-top: 2rem;
        font-size: 1.4rem;
    }
    .about-section{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .about-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.4rem;
    }
    .about-img img{
        scale: 1.0;
    }
    .about-content h1{
        font-size: 3.4rem;
    }
    .about-content h3{
        font-size: 2.7rem;
    }
    .about-content p{
        font-size: 1.9rem;
    }
    .about-content .read-more{
        font-size: 2rem;
    }
    
}
@media (max-width: 618px){
    .home-img img{
        scale: 0.8;
        margin-top: 2rem;
    }
    .home-content{
        margin-top: 0rem;
    }
}
@media (max-width: 629px){
    .service-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .service-section h1{
        margin-top: 1rem;
        font-size: 3rem;
    }
    .service-content{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2% 9rem;
        gap: 4rem;
    } 
    .service-content  h2{
        font-size: 2rem;
    }
    .service-content i{
        font-size: 5rem;
    }
    .service-content p{
        font-size: 1.6rem;
    }
    .service-content .read-more{
        font-size: 1.7rem;
    }
}
/* @media (max-width: 455px){
    .form-container{
        width: 400px;
        box-shadow: 0px 10px 20px var(--main-color);
    }
}
@media (max-width: 435px){
    .form-container{
        width: 370px;
    }
    .about-img img{
        scale: 0.8;
    }
} */
 @media (max-width: 430px){
    .about-img img{
        scale: 0.8;
    }
 }
@media (max-width: 400px){
    section{
        padding: 4rem 0% 1rem;
    }
    *{
        overflow-x: hidden;
    }
    .header{
        padding: 2.2% 1rem;
        justify-content: space-between;
    }
    .resume-btn{
        margin-bottom: 1rem;
    }
    .about-section{
        width: 100%;
        padding: 2% 2rem;
    }
    .about-img img{
        scale: 0.3;
    }
    .service-content{
        padding: 2% 2rem;
    }
    .contact-content{
       padding: 1% 2rem;
    }
    .contact-section{
        
    }
    .contact-img{
        padding: 1% 1rem;
    }
    .form-container{
        padding: 1rem;
        width: 350px;
        margin-bottom: 2rem;
    }
    .carousel-track{
        scale: 0.8;
        width: 360px;
        
    }
    .carousel-container{
        padding: 0rem;
        scale: 0.7;
    }
    .card{
        width: 300px;
    }
    .about-img img{
        scale: 0.8;
    }
    
}
@media (max-width: 360px){
       
}
